<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Playground</h1>

        <ul>
            <% for (let i = 1 ; i < 6 ; i++){ %>

                <li>
                    <%= i %>
                </li>

            <% } %>

        </ul>

        <% if (true){ %>
            <h1>Trueeeee :)</h1>
        <% } else { %>
            <p>Falseeeee :(</p>
            <% } %>
    </body>
</html>